.bigmap {
    width: 960px;
    height: 854px;
    border: 1px solid #ccc;
    float: left;
}

#info-panel-outer{
    border: 1px solid #ccc;
    float: left;
    height: 854px;
    width: 400px;
    margin-left: 10px;
}

.info-header{
    background-color: rgb(108, 190, 161);
    padding: 0.2em;
    margin: 0;
    color: white;
    border-radius: 4px;
}

#info-inner{
    width: 395px;
    height: 400px;
    font-size: 100%;
    border: 1px solid #ccc;
}

#title{
    color: white;
    background-color: rgb(108, 190, 161);
    padding: 0.2em;
    margin: 0.2em 0;
    width: 1360px;
    text-align: center;
}

#current-feature-panel{
   height: 150px; 
}

body {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

#message-box{
    background-color: rgb(108, 201, 178);
    position: absolute;
    left: 40%;
    top: 40%;
    margin-left: -100px;
    z-index: 9999;
    box-shadow: rgb(51, 51, 51) 2px 2px 6px;
    padding: 0.5em;
    color: rgb(255, 255, 255);
    display: none;
    border-radius: 4px;
}